/*Label {
    -fx-padding: 10px;
}

.bg-1 {
    -fx-background-color: #ffd0fe;
}

.bg-2 {
    -fx-background-color: #ffc3cb;
}

.bg-3 {
    -fx-background-color: #ffefc8;
}

.bg-4 {
    -fx-background-color: #ceffc6;
}

.bg-5 {
    -fx-background-color: #befaff;
}

.bg-6 {
    -fx-background-color: #c4c4ff;
}*/

/*.tree-cell .tree-disclosure-node {
    -fx-shape: null;
    -fx-background-color: null;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
}*/

.button{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
        -fx-background-insets: 0,1,2;
        -fx-background-radius: 3,2,1;
        -fx-padding: 3 0 3 0;
        -fx-text-fill: black;
        -fx-font-size: 14px;
}

.button:clicked{
    -fx-background-color: red;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.hBox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

#hBox-custom {
    -fx-background-radius: 5.0;
    -fx-padding: 8;
}

.table-view{
   -fx-background-color: transparent;
}

