.root {
    -fx-alignment: center
    -fx-hgap: 10;
    -fx-vgap: 10;
}

Label {
    -fx-padding: 10px;
}

.bg-1 {
    -fx-background-color: #ffd0fe;
}

.bg-2 {
    -fx-background-color: #ffc3cb;
}

.bg-3 {
    -fx-background-color: #ffefc8;
}

.bg-4 {
    -fx-background-color: #ceffc6;
}

.bg-5 {
    -fx-background-color: #befaff;
}

.bg-6 {
    -fx-background-color: #c4c4ff;
}

.button{
    -fx-background-color:
            orange,
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
        -fx-background-radius: 8,7,6;
        -fx-background-insets: 0,1,2;
        -fx-text-fill: black;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.hBox {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
}

#hBox-custom {
    -fx-background-radius: 5.0;
    -fx-spacing : 20;
}

.table-view{
   -fx-padding: 8;
   -fx-background-color: transparent;
}

#font-button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}